body {
    margin:0;
    padding: 0;
    color: #1c1a17;
    font-family: 'Quicksand', sans-serif;
}

h1, p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
}

.banner {
    background-color: #08121e;
    color: white;
    height: 28vh;
}

p, .button{
    font-family: 'Muli', sans-serif;
}

#mapid {
    height: 73vh;
    /* border: 1px solid red; */
    background-color: #08121e;
}

.overlay{
    position:absolute;
    right:0px;
    z-index: 1000;
    background: rgba(194, 190, 180,0.8);
    border-radius: 4px;
    box-shadow: 1px 1px 1px grey;
    cursor:pointer;
    padding: 8px;
}

.filter-button{
    font-weight: bold;
}

#right{
    display:none;
}

#left, #right{
    position:absolute;
    right:110px;
    z-index: 1000;
    color: red;
    font-weight: bold;
    font-size:30px;
    cursor:pointer
}

.filter-button:hover, #right:hover, #left:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Try to style the slide-in */
#slide-in {
    padding:10px;
    position:absolute;
    right:0px;
    width:250px;
    z-index: 1000;
    background: rgba(194, 190, 180,0.7);
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
    margin-right: -250px;
    margin-top: 60px;
    transition:1.5s;
}

#slide-in.in{
    margin-right:0px;
}

.button {
    font-weight:bold;
    background-color: #e8c58b;
    border: 1px solid #d99e3f;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

input:hover {
    color: #ffe9b3;
    box-shadow: 0 5px 15px #272a1f;
   }

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* Change some styles for larger screens */
@media screen and (min-width: 720px) {
    .banner {
        height: 15vh;
    }
    #mapid {
        height: 85vh;
    }  
}
