body {
    margin:0;
    padding: 0;
    color: #1c1a17;
    font-family: 'Quicksand', sans-serif;
}

h1, p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
}

.banner {
    background-color: #08121e;
    color: white;
    height: 22vh;
}

p, .button{
    font-family: 'Muli', sans-serif;
}

#mapid {
    height: 78vh;
    /* border: 1px solid red; */
    background-color: #08121e;
}

#overlay  {
    position: absolute;
    z-index: 1000;
    background: rgba(194, 190, 180,0.7);
    padding: 10px;
    right: 0;
    margin: 10px;
    margin-top:5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px grey;
}

.button {
    font-weight:bold;
    background-color: #e8c58b;
    border: 1px solid #d99e3f;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
}

input:hover {
    color: #ffe9b3;
    box-shadow: 0 5px 15px #272a1f;
   }

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }